@import "../../data/styles.css";

.project2048-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.project2048-logo {
	display: flex !important;
	position: fixed !important;
	border: 2px solid var(--tertiary-color) !important;
	border-radius: 50% !important;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) !important;
	top: 4vh !important; 
}

.project2048-logo:hover {
    border: 2px solid var(--link-color) !important;
}

.project2048-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 120px;
}

.project2048-subtitle {
	width: 100% !important;
}

.project2048-directions {
	text-align: center !important;
}

.project2048-social {
	display: flex;
	padding-left: 2px;
	padding-top: 70px;
}

.project2048-social a {
	text-decoration: none;
}

.main-content-container {
	margin-bottom: 180px;
}